* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

input {
   outline: none;
   background: none;
}

.wrapper-todo {
   padding: 30px 0;
   background: rgb(255,255,255);
   background: linear-gradient(0deg, rgba(255,255,255,1) 43%, rgba(217,198,185,1) 66%, rgba(172,133,115,1) 100%, rgba(255,255,255,1) 100%);
   background-repeat: no-repeat;
   background-attachment: fixed;
   width: 100%;
   height: 100%;
}


.container {
   padding: 0 70px;
   display: flex;
   column-gap: 40px;
   margin-bottom: 20px;
}

.title-todo {
   text-align: center;
   margin-bottom: 30px;
   color: #381E1D;
   text-transform: uppercase;
   font-size: 18px;
}

.mainTitle{
   text-align: center;
   font-size: 50px;
   margin: 0px 0 60px 0;
   text-transform: uppercase;
   color: #3f2c23;
}
.form-todo{
   width: 100%;
   max-width: 400px;
}
.task {
   width: 100%;
   padding: 20px 0 0 0;
   border: 1px solid #381E1D;
   border-radius: 10px;
}

.label{
   text-transform: uppercase;
   color: #A17864;
   margin-left: 50px;
   font-size: 18px;
}

.input{
   width: 100%;
   max-width: 300px;
   font-size: 20px;
   color: #624645;
   margin: 0 auto;
   border: none;
   border-bottom: 1px solid #A17864;
   margin-bottom: 40px;
   display: grid;
   grid-template-columns: 1fr 1fr;
}


.btn{
   width: 100%;
   background-color: #624645;
   border: 1px solid #624645 ;
   border-radius: 0 0 10px 10px;
   padding: 10px 0;
   transition: all .3s linear ;
   text-transform: uppercase;
   color: #fff;
   font-size: 20px;
   cursor: pointer;
}

.btn:hover{
   background-color: #381E1D;
}

.wrapper-progress{
   padding: 20px;
   border: 1px solid #381E1D;
   border-radius: 10px;
   width: 100%;
   max-width: 400px;
}

.wrapper-done{
   padding: 20px;
   border: 1px solid #381E1D;
   border-radius: 10px;
   width: 100%;
   max-width: 400px;
}




.todolist{
   padding: 0 70px;
}


.card {
   padding: 20px 0 0 0;
   border: 1px solid #A17864;
   border-radius: 10px;
   width: 100%;
   max-width: 350px;
   display: block;
   margin-bottom: 10px;
}

.span {
   text-transform: uppercase;
   color: #442524;
   font-size: 14px;
   padding: 0 0 0 20px;
}


.card__buttons{
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
}

.nextButton{
   width: 100%;
   max-width: 120px;
   background-color: #886a69;
   border: 1px solid #8a6c6b;
   border-radius: 0px 0 0 0;
   padding: 10px 0;
   transition: all .3s linear ;
   text-transform: uppercase;
   color: #fff;
   font-size: 16px;
   cursor: pointer;
}

.nextButton:hover{
   background-color: #381E1D;
}


.editButton{
   padding: 10px;
   background-color: #CAB9A7;
   width: 100%;
   max-width: 120px;
   border: none;
   transition: all .3s linear ;
   text-transform: uppercase;
   color: rgb(255, 255, 255);
   font-size: 16px;
   cursor: pointer;
   border-radius: 0 0 0 10px;
}
.editButton:hover{
   background-color: #dfccb7;
}


.deleteButton {
   padding: 10px 0;
   background-color: #aa9b8b;
   width: 100%;
   max-width: 120px;
   border: none;
   transition: all .3s linear ;
   text-transform: uppercase;
   color: rgb(255, 255, 255);
   font-size: 16px;
   cursor: pointer;
   border-radius: 0 0 10px 0;
}

.deleteButton:hover{
   background-color: rgb(116, 109, 99);
}





.wrapper{
   display: none;
}

.modal-wrapper{
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 100vh;
   background-color: #62464541;
   display: flex;
   justify-content: center;
   align-items: center;
}


.modal{
   width: 400px;
   height: 400px;
   padding: 40px;
   border: 2px solid #442524;
   border-radius: 10px;
   position: relative;
   background-color: #4425246e;
}

.roundButton{
   background: none;
   border: none;
   position: absolute;
   top: 1rem;
   right: 1rem;
   font-size: 20px;
   color: #CAB9A7;
   cursor: pointer;
   transition: all .4s linear;
}

.roundButton:hover{
   font-size: 24px;
}

.modal-input{
   border: none;
   border-bottom: 2px solid #523d33;
   width: 320px;
   font-size: 20px;
   margin-bottom: 10px;
   color: #dfccb7;
}

.model__submit{
   display: block;
   width: 225px;
   padding: 15px;
   border: none;
   border-radius: 10px;
   color:#523d33;
   background-color: #aa9b8b;
   font-size: 18px;
   text-transform: uppercase;
   cursor: pointer;
   margin: 40px auto;
   transition: all .4s linear;
}

.model__submit:hover{
   background-color: #b6a595;
}

.modal-label{
   font-size: 20px;
   text-transform: uppercase;
   color: #b6a595;
}


